html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.6)),
    url('resources/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#app {
  height: 100%;
}
